<section class="benefits" id="benefits">
  <div class="container benefits__container">
    <div class="benefits__heading">
      <svg aria-hidden="true" class="decoration">
        <use href="./img/sprite.svg#decoration"></use>
      </svg>

      <h2 class="benefits__title">
        Capture Every Moment with Our Tailored Wedding Photography Packages
      </h2>
    </div>

    <ul class="benefits__list">
      <li class="benefits__item">
        <svg class="benefits__icon" aria-hidden="true">
          <use href="./img/sprite.svg#icon-benefits-glasses"></use>
        </svg>

        <h3 class="benefits__item-title">
          Your Perfect Story: A Package Tailored for You.
        </h3>

        <p class="benefits__text">
          Explore our collection of wedding packages, each designed to perfectly
          capture the uniqueness of your special day.
        </p>
      </li>

      <li class="benefits__item">
        <svg class="benefits__icon" aria-hidden="true">
          <use href="./img/sprite.svg#icon-benefits-camera"></use>
        </svg>

        <h3 class="benefits__item-title">
          From Dawn to Stars: Your Full Day in
          <span class="benefits__tablet-break">Frame.</span>
        </h3>

        <p class="benefits__text">
          Capture every emotion, from the morning preparations to the grand
          finale of your wedding celebration.
        </p>
      </li>

      <li class="benefits__item">
        <svg class="benefits__icon" aria-hidden="true">
          <use href="./img/sprite.svg#icon-benefits-church"></use>
        </svg>

        <h3 class="benefits__item-title">
          Precious Moments: Capturing Your Key Events.
        </h3>

        <p class="benefits__text">
          Perfect for preserving the most important moments of your intimate
          ceremony or smaller celebration.
        </p>
      </li>
    </ul>
  </div>
</section>
