<footer class="footer">
  <div class="container">
    <div class="footer__card">
      <div class="footer__brand">
        <a
          class="footer__logo-link"
          href="#hero"
          aria-label="Maria Kovalenko Photography, back to top"
        >
          <svg class="footer__logo" viewBox="0 0 81 71" aria-hidden="true">
            <use href="./img/sprite.svg#logo"></use>
          </svg>
        </a>
        <p class="footer__copy">
          © 2025 Maria Kovalenko Photography. All rights reserved.
        </p>
      </div>

      <div class="footer__cols">
        <nav class="footer__col" aria-label="Footer menu">
          <h3 class="footer__title">Menu</h3>
          <ul class="footer__menu">
            <li><a class="footer__link" href="#hero">Home</a></li>
            <li><a class="footer__link" href="#about-us">About Me</a></li>
            <li><a class="footer__link" href="#benefits">Benefits</a></li>
            <li><a class="footer__link" href="#portfolio">Portfolio</a></li>
            <li><a class="footer__link" href="#faq">FAQ</a></li>
          </ul>
        </nav>

        <nav class="footer__col" aria-label="Social links">
          <h3 class="footer__title">Follow Me</h3>
          <ul class="footer__social">
            <li>
              <a
                class="footer__social-link"
                href="https://facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon footer__social-icon_fb"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
                Facebook
              </a>
            </li>
            <li>
              <a
                class="footer__social-link"
                href="https://instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li>
              <a
                class="footer__social-link"
                href="https://x.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer__social-icon"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <use href="./img/sprite.svg#icon-x"></use>
                </svg>
                X
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
