.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portfolio__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 580px;
  width: 100%;
}

ul.portfolio__categories {
  margin-top: 24px;
}

.portfolio__categories li {
  display: flex;
  justify-content: center;
}
.portfolio__categories button {
  padding: 10px 16px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  background-color: #fbf7f0;
  transition: all 0.2s ease;
}

.portfolio__categories button.pressed,
.portfolio__categories.pressed button,
.portfolio__categories button:focus {
  box-shadow: 0 0 0 2px #000;
  position: relative;
  z-index: 10;
}

.portfolio__categories button:hover {
  color: var(--color-accent);
}

.portfolio__gallery {
  gap: 16px;
  margin-top: 24px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.portfoilio__btn {
  margin-top: 40px;
}

.portfolio__gallery-image {
  border-radius: 16px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__gallery-item {
  width: 335px;
  height: 335px;
  overflow: hidden;
}

.portfolio__gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .portfolio__gallery {
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio__gallery-item:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .portfolio__gallery-item {
    width: 340px;
    height: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .portfolio__gallery {
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
  }

  .portfolio__gallery-item {
    width: 421px;
    height: 421px;
    grid-column: span 2;
  }

  .portfolio__gallery-item:nth-last-child(2):nth-child(3n + 1) {
    grid-column: 2 / span 2;
  }

  .portfolio__gallery-item:last-child:nth-child(3n + 1) {
    grid-column: 3 / span 2;
  }
}
